body {
  width: 500px;
  margin: 0 auto;
  background-color: ghostwhite;
}

img {
  width: 500px;
  border: thick double black;
}

.header > h1 {
  font-size: 25px;
  color: red;
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
  margin: 0;
}

.header > h2 {
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin: 0;
  padding: 0 0 10px 0;
}

.title {
  font-family: 'Noto Serif TC', serif;
}

li {
  list-style: square;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 17px;
}

ol {
  padding: 0px 18px 0px 18px;
  margin: 0;
}

.directions li {
  text-align: left;
  padding: 5px;
  list-style-type: decimal;
}

table {
  border-collapse: collapse;
}

th {
  text-align: center;
  font-style: italic;
  padding: 5px;
  border: 0.5px solid black;
}

td {
  border: 0.5px solid black;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
}

#wish {
  font-family: 'Permanent Marker', cursive;
  padding: 15px;
  text-align: center;
  color: red;
  font-size: 20px;
}
