.big-title {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.middle-title {
  font-size: 30px;
}

.reviews .middle-title {
  margin-top: 20px;
  color: black;
}

.contacts .middle-title {
  margin-top: 20px;
  color: black;
}

.page-center .middle-title {
  color: black;
  margin: 30px auto;
}

.text {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  color: black;
}

.text-review {
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
  color: black;
}
