.button {
  display: inline-block;
  border-radius: 20px;
  border-style: solid;
  border-color: #555555;
  background-color: #33C3F0;
  text-decoration: none;
  padding: 30px 100px;
  margin-top: 30px;
  font-weight: bold;
}

.button:hover {
  background-color: #3b89ec;
}

