body {
  font-family: 'Anton', sans-serif;
}

.big-title {
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding-top: 50px;
}

.middle-title {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

.text {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}